# Command aliases
alias ll='clear; ls -ltr'
alias la='clear; ls -ltrA'
alias l='clear; ls -CF'

# Program aliases
alias vi=_vim
alias vim=_vim
alias gitgraph="git log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s - %an %ar'"
