# vim: filetype=sh
# Functions

# List directory and search for argument
lss() 
{ 
    if [ -z "$2" ]; then
        ls -A | grep --ignore-case --color=never $1
    else
        ls -A $1 | grep --ignore-case --color=never $2
    fi
}

# Alias to open vim with file explorer opened in vertical split
#_vim()
#{
#    vi $1 -c "Vex" -c "winc w"
#}
